<h2>All Invitations</h2>
<ul>
<% @invitations.each do |i| %>
	<li>for: <%= i.recipient_email %> - <a href="http://zerosim.eltanin.uberspace.de/vi/<%= i.confirmation_code %>" ><%= i.confirmation_code %></a> - Accepted: <%= i.accepted %></li>
<% end %>
</ul>