// Place all the styles related to the things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pushup: 4em;

.nomargin {
  margin: 0px;
}

.panel {
  min-height:28em;
  padding-bottom: $pushup;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(238,238,238,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );

  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;

  -webkit-box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.6);
  -moz-box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.6);
  box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.6);
}

.panel:hover {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.9);
  -moz-box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.9);
  box-shadow: 0px 3px 5px 1px rgba(23,23,23,0.9);
}


.pushup {
  margin-top: -$pushup;
  border-top:1px solid #e4e4e4;

  .columns {
    margin-left:0px;
  }
}

.cardlinks {

  li {
    margin: 0px;
    width: 33%;

    a {
      color: #666;
    }
  }

  .leftlink:hover {
    background: rgba(199,199,199,1);
    background: -moz-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199,199,199,1)), color-stop(4%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#ffffff', GradientType=0 );
    color: #000;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .middlelink:hover {
    background: rgba(199,199,199,1);
    background: -moz-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199,199,199,1)), color-stop(4%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#ffffff', GradientType=0 );
    color: #000;

  }

  .rightlink:hover {
    background: rgba(199,199,199,1);
    background: -moz-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199,199,199,1)), color-stop(4%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(199,199,199,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#ffffff', GradientType=0 );
    color: #000;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.name, .count, .userscount {
  text-align: center;
  display: block;
  margin: 0em 0em 1em 0em;
  font-size: 2em;
  line-height: 1.2em;
}

.name {
  min-height: 2.4em;
}


.subsection {
  text-align: center;
  margin: 0em;
}

.owner {
  text-align: center;
}


.share, .add, .detailslink {
  font-size: 1.5em;
  line-height: 2.5em;
  text-align: center;
  display: block;
  cursor: pointer;
  margin-bottom: 0px;
}

.details {
  position:absolute;
}

.sub-nav {
  background-color:#f2f2f2;
}

.legend {
  display: block;
  height: 1.2em;
  width: 1.2em;
  margin-right: 1em;
  margin-top: 0.2em;
}