// Place all the styles related to the things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evenspaced {
  padding: 5px 0px;
}

.thing {
  height: 200px;
  display: block;
  background-color: #e4e4e4;
}

.name {
  text-align: center;
  display: block;
  margin: 0px;
  font-size: 2em;
  line-height: 2.5em;
}

.count {
  text-align: center;
  margin: 0px;
  font-size: 2em;
  line-height: 2.5em;
}

.sub, .add {
  font-size: 2em;
  line-height: 2.5em;
  text-align: center;
  display: block;
}