// Place all the styles related to the things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nomargin {
  margin: 0px;
}

.name {
  text-align: center;
  display: block;
  margin: 0px;
  font-size: 1.5em;
  line-height: 2.5em;
}

.name a {
  display: block;
}

.count {
  text-align: center;
  margin: 0px;
  font-size: 1.5em;
  line-height: 2.5em;
}

.sub, .add {
  font-size: 1.5em;
  line-height: 2.5em;
  text-align: center;
  display: block;
}

.details {
  position:absolute;
}