.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to 'countingthings.io', root_path
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %a{:href => '#', :data => {'reveal-id' => 'signin'}} Anmelden